.toast-msg {
  position: fixed;
  top: 20px;
  right: 20px; 
  padding: 12px 20px;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  z-index: 9999;
  animation: slideIn 0.4s ease;
}
.success-toast {
  background-color: #28a745;
}

.error-toast {
  background-color: #dc3545;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
